/* 
Style file for SJCA HTML site. Contains all styling for all pages of SJCA.

File 2 of 2: style.css

Author: Logan C. | 10.27.23 */

/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    cursor: default;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size:16px;
    background-color: #eeeeee;
    text-decoration:none;
    margin: 0;
    padding: 0;
}

/* Nav bar */

header{
    letter-spacing:.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    background-color: rgba(0, 0, 0, 0.85);
}

.logo{
    cursor: pointer;
    max-height:50px;
}

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    padding: 0px 10px;
}

.nav li a{
    color: white;
    text-decoration:none;
}

.nav li a:hover{
    transition: all .3s ease 0s;
    color:rgb(255, 221, 148);
}

/* Style the sections */
.white, .intro {
    background-color: #fff;
}

.white, .gray, .intro {
    text-align: center;
    padding: 40px;
    /* margin-bottom: 10px; */
}

.white p, .gray p, .intro p {
    margin: auto;
    margin-top:15px;
    margin-bottom:15px;
    max-width: 50%;

    line-height:1.5em;
}

.white h2, .gray h2, .intro h2{
    padding-top:10px;
    padding-bottom:15px;
    font-size:40px;
}

/* Intro formatting */

.intro h2{
    padding-top:15px;
    padding-bottom:0px;
    font-size:40px;
}

.intro p{
    padding-top:0px;
    color:#3d3d3d;
}

.verse{
    margin: auto;
    margin-top:0px;
    margin-bottom:0px;
}

.medium{
    font-size:25px;
    padding:0px;
}

/* Style the footer */

footer {
    color: #3d3d3d;
    text-align: center;
    padding: 20px;
}

/* Style the banner title and description */
.banner-content {
    letter-spacing:.1em;
    opacity:100%;
    margin: 30px;
    font-weight: 900;
    color:white;
    text-align: center;
    font-size: 33px;
}

.banner-content p{
    padding-top:25px;
    letter-spacing:.3em;
    color:rgba(255, 255, 255, 1);
}

.banner{
    background: rgba(255, 255, 255, 0.5);
    background-image: url("volunteers.jpg");
    background-size: cover;
    background-position: center -200px; /* Adjust as needed */
    background-repeat: no-repeat;
    padding: 5%;
}


div.scroll-container {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    width:100%;
  }
  
  div.scroll-container img {
    padding: 10px;
    height:300px;
    width:auto;
    left: 0;
    object-fit: cover;
    margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
    animation: scroll 20s linear infinite;;
  }

  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-405%);
    }
  }

/* Add more styles and customizations as needed */
