/* 
Style file for SJCA HTML site. Contains all styling for all pages of SJCA.

File 2 of 2: ../style.css

Author: Logan C. | 10.27.23 */

/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #fba92e;
    --highlight-color: rgb(255, 209, 110);
}

/* Body styles */

body {
    cursor: default;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size:16px;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    text-decoration:none;
    margin: 0;
    padding: 0;
}

/* Nav bar */

.header,.about-header{
    z-index: 10;
    display: block;
    position:fixed;
    width:100%;
    letter-spacing:.05em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    transition: background-color 0.3s ease-in-out;
}

.about-header{
    background-color: rgba(0, 0, 0, 1);
}

.header.scrolled{
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 4;
}

.black-border{
    z-index: 10;
    display: block;
    width:100%;
    letter-spacing:.05em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: rgba(0, 0, 0, 1);
}

.zh{
    font-family: 'Ma Shan Zheng', cursive;
}

.logo{
    cursor: pointer;
    max-height:70px;
}

/* Nav bar */

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    padding: 0px 20px;
}

.nav li a{
    color: white;
    text-decoration:none;
}

.nav-button a:hover, .lang-button a:hover, .about-button a:hover, .contact-button a:hover, .gallery-button a:hover, .pub-button a:hover{
    transition: all .5s ease 0s;
    color:rgb(255, 221, 148);
}

.contact{
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
}

.lang-button{
    letter-spacing:0em;
}

#selected{
    font-weight: bold;
}

#selected:hover{
    font-weight: bold;
    color:#fff;
    cursor:default;
}

/* Style the sections */

.white, .gray, .intro, .about{
    padding: 40px;
}

.white p, .gray p, .intro p, .about p, .contact p {
    margin: auto;
    margin-top:15px;
    margin-bottom:15px;
    max-width: 45%;
    line-height:1.5em;
}

.about p {
    max-width: 85%;
}

.white h2, .gray h2, .intro h2, .about h2, .projects h2, .mission h2{
    padding-top:10px;
    padding-bottom:15px;
    font-size:40px;
}

.mission p{
    padding-top:10px;
    padding-bottom:75px;
}

.white {
    background-color: #eeeeee;
}

.intro{
    text-align: center;
}

/* White section formatting */

.white{
    text-align:right;
    display:flex;
}

.white h2{
    margin-right:30px;
}

.white p{
    margin-right:30px;
    max-width: 75%;
}

.white img{
    height:275px;
    width:auto;
    margin-left:30px;
    border-radius:10px;
}

/* Gray section formatting */

.gray{
    text-align:left;
    flex-direction: row-reverse;
    display:flex;
}

.gray h2{
    margin-left:30px;
}

.gray p{
    margin-left:30px;
    max-width: 75%;
}

.gray img{
    height:275px;
    width:auto;
    margin-right:30px;
    border-radius:10px;
}

/* Intro formatting */

.intro h2{
    padding-top:15px;
    padding-bottom:0px;
    font-size:40px;
}

.intro p{
    padding-top:0px;
    color:#3d3d3d;
}

.verse{
    margin: auto;
    margin-top:0px;
    margin-bottom:0px;
}

.medium{
    font-size:25px;
    padding:0px;
}

/* Style the footer */

footer {
    color: #3d3d3d;
    text-align: center;
    padding: 20px;
}

/* Style the banner title and description */

.banner-content {
    letter-spacing:-.08em;
    opacity:100%;
    margin: 30px;
    color:white;
    font-weight: 100;
    text-align: center;
    font-size: 33px;
}

.banner-content p{
    margin:auto;
    padding-top:25px;
    letter-spacing:.4em;
    color:rgba(255, 255, 255, .85);
}

.banner{
    background-image: url("images/banner.png"); /* Should edit a pic in PS and lower the brightness */
    background-size: cover;
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat;
    padding: 6%;
}

/* Scrolling image gallery */

div.scroll-container {
    background-color: #eeeeee;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    width:100%;
  }
  
div.scroll-container img {
padding: 10px;
height:300px;
width:auto;
left: 0;
object-fit: cover;
margin: 0 auto;
position: relative;
overflow: hidden;
transform: translate3d(0, 0, 0);
animation: scroll 20s linear infinite;;
}

@keyframes scroll {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-405%);
}
}

/* Projects Section Formatting */

.projects,.mission{
    margin-left:10%;
    margin-right:10%;
    padding-top:100px;
    text-align: center;
}

.projects h2{
    margin-bottom:40px;
}

.container{
    box-sizing: border-box;
    justify-content: center;
    display:flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.container-gal{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gal{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gal img{
    width: 100%;
}

.projects div{
    padding: 0 20px 50px 20px;
}

.projects img{
    width:275px;
    overflow: hidden;
    border-radius: 10px;
    border: 1.5px solid #ffffff !important;
    transition: filter .1s ease-in-out;
    cursor: pointer;
}

.projects img:hover{
    filter: brightness(85%);
}

.post{
    padding-left:20px; 
    padding-right:20px; 
    width: 300px;
    text-align:left;
    overflow:hidden;
}

.project{
    display:block;
}



#post-title{
    font-size:large;
    margin-bottom: 10px;
}

#post-date{
    color: rgb(207, 207, 207);
    font-weight:300;
}

#post-desc{
    margin-top:10px;
    line-height: 1.5;
}

#middle{
    margin:auto;
}


/* Buttons */


.buttons{
    margin-top:20px;
}
#colored-button,#transparent-button{
    font-family: 'Inter', sans-serif;
    font-size:large;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom:10px;
    border-radius: 20px;
    
}

.selected-button{
    font-family: 'Inter', sans-serif;
    font-size:large;
    font-weight: 700;
    cursor: default;
    padding: 10px 30px;
    margin-bottom:10px;
    border-radius: 20px;
    color:#121212 !important;
    cursor:default !important;
    border: 2px solid #121212 !important;
    background-color:#eeeeee !important;
}

#colored-button:hover,#transparent-button:hover,#colored-button{
    color:#121212;
    border: none;
}

#colored-button{
    background-image: linear-gradient(to left, rgb(147, 194, 245), rgb(194, 205, 255));
}

#colored-button:hover,#transparent-button:hover{
    background: rgb(20, 20, 20);
    color:#fff;
    transition: background-image .4s,background-color .4s;
}

#transparent-button{
    margin-left:2%;
    color:white;
    border: 1.6px solid white;
    background: #121212;
}

#transparent-button:hover{
    border: 1.6px solid white; /* This provides animation */
}


  /* Mobile styles */
@media (max-width: 767px) {
   /* Nav bar */
    
   .header{
    z-index: 10;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 4%;
}

.logo{
    max-height:70px;
}

/* Nav bar */

.nav-menu-container{
    display:block;
}

.nav{
    display:none;
}

#nav-menu-button{
    background: none;
    display:block;
    font-size: 25px;
    color:white;
}

#mobile-nav-bar.fade{
    display:block !important;
    opacity:1 !important;
}

#mobile-nav-bar{
    opacity:0;
    transition: opacity .2s !important;
    display:none !important;
    z-index:3;
    position: relative;
    padding-bottom:100%;
    background: linear-gradient(360deg, rgba(255,255,255,0)5.5%, #eeeeee 5.5%);
}

#mobile-nav-bar ul{
    margin:auto;
    padding:0;
    padding-top:70%;

    list-style: none;
    text-align: center;
}

#mobile-nav-bar a{
    color:rgb(17, 17, 17);
    font-weight: bold;

    line-height: 2.2;
    font-size:50px;
    text-decoration: none;
}

#mobile-nav-bar{
    padding-left:10%;
    padding-right:10%;
    margin-top:-50px;

    position:fixed;
    box-sizing: border-box;

    width:100%;
    display: flex;

    letter-spacing:.05em;
    justify-content: space-between;
    align-items: center;

    transition: background-color 0.1s ease-in-out;
}

/* Style the sections */

.white, .gray, .intro {
    padding: 40px;
    display:block;
}

.white p, .gray p, .intro p {
    margin: auto;
    margin-top:25px;
    margin-bottom:15px;
    max-width: 85%;
    line-height:1.5em;
    margin:auto;
}

.white h2, .gray h2, .intro h2{
    padding-top:20px;
    padding-bottom:15px;
    font-size:40px;
    margin:auto;
}

.intro{
    text-align: center;
}

/* White section formatting */

.white{
    text-align:center;
}

.white p{
    max-width: 75%;
}

.white img{
    height:250px;
    width:auto;
    border-radius:10px;
    margin:auto;
}

/* Gray section formatting */

.gray{
    text-align:center;
}

.gray p{
    max-width: 75%;
}

.gray img{
    height:250px;
    width:auto;
    border-radius:10px;
    margin:auto;
}

.contactimg img{
    width:90%;
    height:auto;
}

/* Intro formatting */

.intro h2{
    padding-top:15px;
    padding-bottom:0px;
    font-size:40px;
}

.intro p{
    padding-top:0px;
}

.verse{
    margin: auto;
    margin-top:0px;
    margin-bottom:0px;
}

.medium{
    font-size:25px;
    padding:0px;
}

/* Style the footer */

footer {
    text-align: center;
    padding: 20px;
}

#first {
    padding-top:20px;
}

/* Style the banner title and description */

.banner-content {
    margin: 30px;
    margin-top:90px;
    font-weight: 100;
    text-align: center;
    font-size: 33px;
}

.banner-content p{
    margin:auto;
    padding-top:25px;
}

/* Scrolling image gallery */

div.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    width:100%;
  }
  
  div.scroll-container img {
    padding: 10px;
    height:300px;
    width:auto;
    left: 0;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    animation: scroll 20s linear infinite;;
  }
 }
 

 
 /* Desktop styles */
 @media (min-width: 992px) {

    /* Nav bar */
    
    .header{
        z-index: 10;
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 4%;
        display: flex;
    }
    
    .logo{
        max-height:70px;
    }
    
    /* Nav bar */
    
    .nav{
        list-style: none;
    }
    
    .nav li{
        display: inline-block;
        padding: 0px 20px;
    }

    #nav-menu-button{
        display:none;
    }
    
    #mobile-nav-bar{
        display:none;
    }
    
    .nav-menu-container{
        display:none;
    }
    
    /* Style the sections */
    
    .white, .gray, .intro {
        padding: 40px;
    }
    
    .white p, .gray p, .intro p {
        margin: auto;
        margin-top:15px;
        margin-bottom:15px;
        max-width: 45%;
        line-height:1.5em;
    }
    
    .white h2, .gray h2, .intro h2{
        padding-top:10px;
        padding-bottom:15px;
        font-size:40px;
    }
    
    .intro{
        text-align: center;
    }
    
    /* White section formatting */
    
    .white{
        text-align:right;
        display:flex;
    }
    
    .white h2{
        margin-right:30px;
    }
    
    .white p{
        text-align:left;
        max-width: 100%;
        margin-left: 50px;
        margin-right: 30px;
    }
    
    .white img{
        height:350px;
        width:auto;
        margin-left:30px;
        border-radius:10px;
    }
    
    /* Gray section formatting */
    
    .gray{
        text-align:left;
        flex-direction: row-reverse;
        display:flex;
    }
    
    .gray h2{
        margin-left:30px;
    }
    
    .gray p{
        margin-left:30px;
        max-width: 75%;
    }
    
    .gray img{
        height:300px;
        width:auto;
        margin-right:30px;
        border-radius:10px;
    }
    
    /* Intro formatting */
    
    .intro h2{
        padding-top:15px;
        padding-bottom:0px;
        font-size:40px;
    }
    
    .intro p{
        padding-top:0px;
    }
    
    .verse{
        margin: auto;
        margin-top:0px;
        margin-bottom:0px;
    }
    
    .medium{
        font-size:25px;
        padding:0px;
    }
    
    /* Style the footer */
    
    footer {
        text-align: center;
        padding: 20px;
    }
    
    /* Style the banner title and description */
    
    .banner-content {
        margin: 30px;
        font-weight: 100;
        text-align: center;
        font-size: 33px;
    }
    
    .banner-content p{
        margin:auto;
        padding-top:25px;
    }
    
    /* Scrolling image gallery */
    
    div.scroll-container {
        overflow: hidden;
        white-space: nowrap;
        padding: 10px;
        width:100%;
      }
      
      div.scroll-container img {
        padding: 10px;
        height:300px;
        width:auto;
        left: 0;
        object-fit: cover;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        animation: scroll 20s linear infinite;;
      }
 }
 
